/* .cm-tab-colorful  .tc-tab-buttons button {color:blue;} */
.cm-tab-colorful  .tc-tab-buttons button.tc-tab-selected {
    background: none;
    border: none;
    border-bottom: solid 1px #737373 !important;
    font-weight: bold;
    color: #DB4C3F !important;
}

.cm-tab-wd  .tc-tab-buttons button{
    width:170px;
}