/*Ref: https://css-tricks.com/auto-sizing-columns-css-grid-auto-fill-vs-auto-fit/ */
.grid-container {
    display: grid;
}
.grid-container-fit {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
.grid-element {
  padding: 5px;
  border: 1px solid #fff;
}

.cornsilk{  background-color: #fff8dc;}
.aliceblue{background-color:#f0f8ff;}